<!DOCTYPE html>
<html lang="uz">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>Blog</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-12 col-md-6 col-sm-6 navbar-icon">
                <a href="{% url 'home' %}">Sukhrobbek's Blog</a>
            </div>
            <div class="col-12 col-md-6 col-sm-6 navbar-link">
                <div><a href="/about/"><b>About</b></a></div>
                <div><a href="/blog/"><b>Blog</b></a></div>
                <div><a href="#"><b>Channel</b></a></div>
            </div>
        </div>
        <div class="row blog">
            <div class="col-12">
                <h1>Blog</h1>
            </div>
        </div>
        {% for i in m %}
        <div class="row main">
            <div class="col-12 col-md-6 col-sm-6 main-card1">
                <p>{{i.time.year}}</p>
                  {% if i.time.month == 12 %}
                    <h3>December</h3>
                  {% endif %}
                  {%if i.time.month == 1 %}
                    <h3>Januare</h3>
                  {%endif%}
                  {%if i.time.month == 2 %}
                    <h3>Februare</h3>
                  {%endif%}
                  {%if i.time.month == 3 %}
                    <h3>March</h3>
                  {%endif%}
                  {%if i.time.month == 4 %}
                    <h3>April</h3>
                  {%endif%}
                  {%if i.time.month == 5 %}
                    <h3>May</h3>
                  {% endif %}
                  {%if i.time.month == 6 %}
                    <h3>June</h3>
                  {%endif%}
                  {%if i.time.month == 7 %}
                    <h3>Jule</h3>
                  {%endif%}
                  {%if i.time.month == 8 %}
                    <h3>August</h3>
                  {%endif%}
                  {%if i.time.month == 9 %}
                    <h3>September</h3>
                  {%endif%}
                  {%if i.time.month == 10 %}
                    <h3>October</h3>
                  {%endif%}
                  {%if i.time.month == 11 %}
                    <h3>November</h3>
                  {%endif%}
                <div class="main-card1-link">
                    <a href="/maqola/{{i.id}}"><h6>{{ i.time }}</h6> <h5>{{ i.title }}</h5></a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-sm-6 main-card2">
                <h4>NEWSLETTER</h4>
                <p>Subscribe to <a href="/">@arsenal1308</a> telegram channel where I share interesting & useful stuff.</p>
            </div>
        </div>
        {% endfor %}
        <div class="row footer">
            <p>© 2021 SMB.com</p>
        </div>
    </div>
</body>
</html>